@model IEnumerable<Estoque>
@{
    ViewData["Title"] = "Estoque";
}

<div class="text-center">
    @foreach(var item in Model){
        <div class="col flex-column pb-5">
            <ul>
                <li>@item.Nome</li>
                <li>@item.Quantidade</li>
                <li>@item.Alugados</li>
            </ul>
        </div>
    }
</div>