@model List<PedidoModel>

    <div class="text-center">
    <h2 class="mb-3">Lista de Estoque</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Cliente</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.IdProduto
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        @item.Quantidade
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>