@{
    ViewData["Title"] = "Início";
    MetodosInicioModel metodos = new MetodosInicioModel();
}
<div class="container-fluid text-center d-flex align-items-center justify-content-center w-100 px-0">
    <div class="grid w-100 d-flex" style="--bs-columns: 4;">
            <div class="g-col-6 recolher d-flex justify-content-center flex-column h-100 w-100 d-flex align-items-center">
            <p class="h2 mb-5">A recolher</p>
            <div class="row d-flex w-100">
                <div class="col w-100" style="padding-top: 10px;">
                    <div class="card w-100">
                        <div class="col g-col-6 g-col-md-4 card-body">
                        <h5 class="card-title">Pedido n°: 99999999999999</h5>
                        <p class="card-text">Data: 01/01/9999</p>
                        <p class="card-text">Data limite: 09/09/9999</p>
                        <div class="status d-flex align-items-center justify-content-center">
                            <p class="card-text align-items-center">Status de pagamento: Pago</p>
                            <section id='@metodos.status("Pago")'></section>
                        </div>
                        <a href="#" class="btn btn-primary">Ver detalhes</a>
                    </div>
                </div>
                <div class="col w-100" style="padding-top: 10px;">
                        <div class="card w-100">
                            <div class="card-body">
                            <h5 class="card-title">Pedido n°: 99999999999999</h5>
                            <p class="card-text">Data: 01/01/9999</p>
                            <p class="card-text">Data limite: 09/09/9999</p>
                            <div class="status d-flex align-items-center justify-content-center">
                                <p class="card-text align-items-center">Status de pagamento: Pago</p>
                                <section id='@metodos.status("Pago")'></section>
                            </div>
                            <a href="#" class="btn btn-primary">Ver detalhes</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="g-col-2 w-100"><div class="vr h-100"></div></div>
        <div class="g-col-6 pagPendente d-flex justify-content-center flex-column h-100 w-100 d-flex align-items-center">
            <p class="h2 mb-5">Pagamentos Pendentes</p>
            <div class="row d-flex w-100">
                <div class="col w-100" style="padding-top: 10px;">
                    <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Pedido n°: 99999999999999</h5>
                        <p class="card-text">Data: 01/01/9999</p>
                        <p class="card-text">Data limite: 09/09/9999</p>
                        <div class="status d-flex align-items-center justify-content-center">
                                <p class="card-text align-items-center">Status de pagamento: Atrasado</p>
                                <section id='@metodos.status("Atrasado")'></section>
                            </div>
                        <a href="#" class="btn btn-primary">Ver detalhes</a>
                    </div>
                </div>
                <div class="col w-100" style="padding-top: 10px;">
                    <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Pedido n°: 99999999999999</h5>
                        <p class="card-text">Data: 01/01/9999</p>
                        <p class="card-text">Data limite: 09/09/9999</p>
                        <div class="status d-flex align-items-center justify-content-center">
                                <p class="card-text align-items-center">Status de pagamento: Pendente</p>
                                <section id='@metodos.status("Pendente")'></section>
                            </div>
                        <a href="#" class="btn btn-primary">Ver detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>