@{
    ViewData["Title"] = "Home Page";
}

    <div class="Titulo">
        <h1>Bem vindo ao </h1><div class="+ROTAS_h1"><h1>+ROTAS</h1></div>
    </div>
    <h2>O organizador de Rotas que facilita sua vida</h2>
    <h3>Mapa</h3>
    <form action="">
        <fieldset>
            <h2>Rota Atual</h2>
            <label for="partida">Partida:</label>
            <input name="partida" type="text">
            <label for="num_nota">N° Nota:</label>
            <input name="num_nota" type="number">
            <label for="destino">Destino:</label>
            <input name="destino" type="button" value="Buscar no mapa">
            <input type="text" placeholder="CEP, RUA OU LOGRADOURO">
            <button type="submit">Roteirizar</button>
        </fieldset>
    </form>
    <section id="lista_notas">
        <form action="">
        <h2>Lista de notas</h2>
        <button type="submit">Finalizar Rota</button>
        </form>
    </section>
