@{
    ViewData["Title"] = "Relatório";
}

<div class="text-center">
    <div class="d-flex justify-content-evenly">
        <label for="dataInicio">Data Inicial</label>
        <input type="date" id="dataInicio">
        <label for="dataFinal">Data Final</label>
        <input type="date" id="dataFinal">
    </div>
</div>