@model List<NotaModel>
@{
    ViewData["Title"] = "Consulta";
}

<head>
    <style>
        input,
        textarea,
        select {
            outline: 0;
        }
    </style>
</head>

<div class="text-center row">
    <h1>Consultar Nota</h1>
    <form method="post" asp-action="ConsultaNota" asp-controller="ConsultarPedido">
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-end rounded-pill bg-warning w-100 d-flex align-items-center justify-content-between me-3">
                <h2 class="mt-1 flex-fill"><input name="busca" type="search"
                        id="pesquisa" class="ms-3 bg-transparent border-0 outline-0 w-100 d-flex"
                        placeholder="Pesquisar"></h2>
                <button type="submit" class="btn btn-link p-0"><a>
                        @* -To querendo botar um circulo em volta da Lupa !! *@
                        <img class="ms-3 me-3 custom-img-btn" src="@Url.Content("~/img/lupa.svg")" alt="Lupa" width="30"
                            </a></button>
            </div>
            <h2>
                <select id="filtros" class="rounded-pill ps-1" name="opc">
                    <option value="" disabled selected>Selecione Filtro</option>
                    <option value="CPF/CNPJ">CPF/CNPJ</option>
                    <option value="NNota">Nº Nota</option>
                    <option value="Cliente">NOME CLIENTE</option>
                    <option value="Tel">TELEFONE</option>
                    <option value="DATA-NOTA">DATA INICIO</option>
                    <option value="DATA-RECOLHIMENTO">DATA RECOLHIMENTO</option>
                    <option value="CEP">CEP</option>
                </select>
            </h2>
    </form>
</div>
<h1>Encontre a nota aqui!</h1>
</div>
